body{
    background-color: #edf2f4;
}

img {
    width: 30%;
    /*margin: calc(10%/6);*/
    margin: 1.6666%;
}
nav{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    border-bottom: solid 1px #2b2d42;;
   
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}